<IfModule mod_rewrite.c>
    RewriteEngine on

    # Passer le header Authorization à PHP
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Exclure les fichiers réels
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Tout passe par index.php
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
